* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-content {
    width: max-content;
}

ion-header,
ion-content {
    text-align: center;
    margin: 0px auto;
}