<ion-header>
  <ion-toolbar>
    <ion-title>List Page</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Form Alanları -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let field of formFields">
        <ion-item >
          <ion-label position="fixed">{{ field.label }}</ion-label>
          <br>
          <ion-input [(ngModel)]="newCari[field.model]" [type]="field.type" placeholder="{{field.label}} Giriniz"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label>Tür</ion-label>
          <ion-select [(ngModel)]="newCari.type">
            <ion-select-option value="gerçek">Gerçek</ion-select-option>
            <ion-select-option value="tüzel">Tüzel</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Butonlar -->
  <div class="buttons">
    <ion-button (click)="addCari()">YENİ</ion-button>
    <ion-button (click)="clearForm()">TEMİZLE</ion-button>
    <ion-button (click)="refreshList()">YENİLE</ion-button>
    <ion-button (click)="downloadList()">İNDİR</ion-button>
  </div>

  <!-- Liste -->
  <ion-list>
    <ion-item *ngFor="let cari of cariList">
      {{ cari.cariAd }} - {{ cari.muhKod }} - {{ cari.unvan }} - {{ cari.eposta }} -
      {{ cari.vergiNo }} - {{ cari.tcKimlik }} - {{ cari.naceKodu }} - {{ cari.type }}
    </ion-item>
  </ion-list>
</ion-content>