ion-title {
  text-align: center;
  font-weight: 800;
}

ion-toolbar {
  --background: rgb(18, 49, 99);

}

.empty {

  height: 60vh;
  display: grid;
  place-content: center;
  text-align: center;
  opacity: 0.7;
  color: rgb(0, 0, 0);


  h2 {
    font-size: 1.2em;
    font-weight: 700;
  }

  ion-icon {
    margin: 2px auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
}

div.sayac {
  background-color: rgb(245, 155, 39) !important;
  text-align: center;
}

ion-label {
  color: white;
  font-size: 1.23em;
  font-weight: 800;

  h6,
  p {
    padding: 12px;
    color: white;
  }
}

ng-container {
  --background: none;
}

ion-content {
  --background: rgb(245, 155, 39);
}

.customList ion-item {
  --background: rgb(18, 49, 99);
  text-align: center;
  border: 1px solid rgb(18, 49, 99);
  border-radius: 25px;
}

.customList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(245, 155, 39);
}
